.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    border: 5px solid #38e7ad;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    margin: 0px 5px;
    border: 1px solid #38e7ad;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none; 
}

.card.flipped img {
    display: block; 
}

.card.matched {
    background-color: #08ffad;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

-----------------

  
.button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container > button {
    margin: 5px;
  }

footer {
    background-color: #38e7ad;
    padding: 5px;
    text-align: center;
}

button {
    background-color: antiquewhite;
    padding: 8px;
    margin: 5px;
}

.absatz {
    border: #38e7ad, 5px, solid;
    padding: 5px;
    margin: 5px;
}