/* .quiz-farbe {
    background-color: rgb(56, 231, 173)!important;
}

header {
    background-color: rgb(56, 231, 173);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .logo {
    object-fit: cover;
    margin-right: 20px;
    flex: 0 0 75px; 
  }
main {
    /*  background-color:  antiquewhite!important; 
     padding-top: 50px;
 } */