
header {
    background-color: rgb(56, 231, 173);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .logo {
    object-fit: cover;
    margin-right: 20px;
    flex: 0 0 75px; /* set the width of the logo to 75px */
  }
  
  .header-content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* add justify-content: center to vertically center the content */
  }
  
  .header-content > h3 {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container > button {
    margin: 5px;
  }

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    border: 5px solid #38e7ad;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    margin: 0px 5px;
    border: 1px solid #38e7ad;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none; 
}

.card.flipped img {
    display: block; 
}

.card.matched {
    background-color: #08ffad;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


footer {
    background-color: #38e7ad;
    padding: 5px;
    text-align: center;
}

h1 span {
  color: #38e7ad; /* match the green color used in the original congratulatory message */
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px; /* add some space between the "Memory Spiel" text and the congratulatory message */
}